@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ResetPasswordRequestDto

@{
    ViewData["Title"] = "Restablecer contraseña";
}

<div class="container mt-5" style="max-width:550px;">

    <div class="card shadow">

        <div class="card-header bg-success text-white">
            <h4>Restablecer contraseña</h4>
        </div>

        <div class="card-body">

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Error
                </div>
            }

            <form asp-action="ResetPassword" method="post">

                <input asp-for="SessionToken" type="hidden" />

                <div class="mb-3">
                    <label asp-for="Code"></label>
                    <input asp-for="Code" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" type="password" class="form-control" />
                </div>

                <div class="mb-3">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                </div>

                <button class="btn btn-success w-100">
                    Cambiar contraseña
                </button>

            </form>

        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}